@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rem-TITULO {
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


body {
    font-size: 1rem;
    line-height: 1.5;
    height: 100%;
    max-width: 100vw;
    background: linear-gradient(to bottom, #7d019c, #090113)
}

main{
    height: 100%;
    max-width:100%;
}

/*Codigo de la NavBar*/

.navbar {
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    background-color: #160033;
    justify-content: space-around;
    box-shadow: 0 1rem 4rem black;
}

.navbar h1{
    font-size: .8rem;
    color: white;
}

.navbar a{
    text-decoration: none;
}

.nav-links {
    justify-content: start;
    display: flex;
    flex-direction: row;
    max-width: 80%;
    gap: .5rem;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    font-size: .89rem;
    color: #dbff76;
}

.nav-links a:hover{
    text-decoration: none;
    font-size: .89rem;
    color: #dbff76;
}

#MenuNavBar {
    background-color: #8c058c;
    border-radius: 1em 1em 1em 1em;
    padding: .3em 1em .3em 1em;
    transition: 1s;
}

#MenuNavBar:hover {
    background-color: rgb(65, 0, 65);
}




section {
    height: 100vh;
    width: 100vw;
}

/*Empezamos con la seccion hero*/
.Hero {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "REM", sans-serif;
    max-width: 100%;
}

.HeroTexto {
    max-width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeroTexto img {
    height: 100%;
    max-width: 100%;
    border-radius: 30px 30px 30px 40px;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}

/*Empezamos con la seccion Destacados*/

.Destacados {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "REM", sans-serif;
    height: 100%;
}

.Destacados h2{
    max-width: 100%;
    color: #dbff76;
    font-size: 20px;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 1rem;
    background-color: #2a0060;
    margin: 1rem 0 1rem 0;
    font-weight: 900;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}


/*Este codigo es el de las tarjetas de cada producto destacado*/

.Productos-Destacados {
    background-color: rgb(19, 0, 35);
    box-shadow: 0 0 2rem black;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    height: 100%;
    width: 60%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
}

.ProductoDestacado {
    display: grid;
    grid-template-rows: 70% 15% 15%;
    height: 100%;
    width: 100%;
}


.ProductoDestacado img {
    height: 100%;
    width: 100%;
    border-radius: 2rem 2rem 2rem 2rem;
}

.ProductoDestacado h3 {
    color: #dbff76;
    height: 100%;
    width: 100%;
}


.ProductoDestacado h4 {
    height: 100%;
    width: 100%;
    color: #dbff76;
    font-size: .60rem;
    line-height: 1.3;
}







